<div fxLayout="column" fxFill>
  <mat-list class="chat-list" id="chat-list">
    <mat-list-item *ngFor="let message of chat; let last = last;let index = index" id="{{index}}-message" class="chat-item">
      <img src="{{message.user.img}}" alt="{{message.user.displayName}}'s Image" matListAvatar>
      <span class="mat-caption" mat-line *ngIf="!message.user.alias">{{message.user.displayName}}</span>
      <span class="mat-caption" mat-line *ngIf="message.user.alias">{{message.user.alias}}</span>
      <mat-icon class="mat-18" color="primary" *ngIf="message.user.observer">search</mat-icon>
      <span class="mat-subheading-1" mat-line>{{message.text}}</span>
      <span class="mat-body" mat-line>{{message.date}}</span>
      <mat-divider *ngIf="!last"></mat-divider>
    </mat-list-item>
  </mat-list>
  <span fxFlex></span>
  <mat-divider></mat-divider>
  <div fxLayout="row" fxFlex="5" fxLayoutAlign="center center">
    <button mat-icon-button *ngIf="inputOpen" (click)="toggleInput()">
      <mat-icon class="mat-18">keyboard_arrow_down</mat-icon>
    </button>
    <button mat-icon-button *ngIf="!inputOpen" (click)="toggleInput()">
      <mat-icon class="mat-18">keyboard_arrow_up</mat-icon>
    </button>
  </div>
  <mat-divider *ngIf="inputOpen"></mat-divider>
  <div fxLayout="row" fxLayoutAlign="space-between center" class="message-area" *ngIf="inputOpen" fxFlex="20">
    <form fxFlex="100">
      <mat-form-field fxFill="">
        <textarea matInput placeholder="Enter message here..." rows="5" [(ngModel)]="newMessage" (keyup.enter)="sendMessage()"
              name="New Message"></textarea>
      </mat-form-field>
      <button mat-raised-button color="primary" class="send-button" (click)="sendMessage()" (keyup.enter)="sendMessage()" [disabled]="!newMessage">Send</button>
    </form>
  </div>

</div>
