<form>
  <div fxLayout="row" fxLayoutAlign="space-between center">
    <mat-form-field>
      <input matInput placeholder="JIRA Ticket Number" [(ngModel)]="ticket" required name="ticketNumber" (keyup)="pushTicket()"/>
    </mat-form-field>
    <span fxFlex></span>
    <button mat-raised-button color="primary" (click)="clear()" class="reset">Reset Ticket</button>
    <!--<span class="mat-subheading-2">Consensus Points: 10</span>-->
  </div>
  <div fxLayout="row">
    <mat-form-field class="full-width">
      <textarea matInput placeholder="Description" rows="4" [(ngModel)]="description"
                name="description" (keyup)="pushDescription()" [disabled]="!ticket"></textarea>
    </mat-form-field>
  </div>
  <mat-progress-bar mode="determinate" value="{{percentVoted}}"></mat-progress-bar>
</form>
<mat-divider></mat-divider>
<mat-list class="user-list">
  <mat-list-item *ngFor="let user of users">
    <img src="{{user.img}}" alt="{{user.displayName}}'s Image" matListAvatar>
    <!--<div *ngIf="user.img === 'https://lh3.googleusercontent.com/-XdUIqdMkCWA/AAAAAAAAAAI/AAAAAAAAAAA/4252rscbv5M/photo.jpg'; let img; else imageExists">-->
      <!--<mat-icon class="mat-18" matListIcon>child_care</mat-icon>-->
    <!--</div>-->
    <!--<ng-template #imageExists>-->
      <!--<img src="{{user.img}}" alt="{{user.displayName}}'s Image" matListAvatar>-->
    <!--</ng-template>-->
    <span class="mat-subheading-1" mat-line *ngIf="!user.alias">{{user.displayName}}</span>
    <span class="mat-subheading-1" mat-line *ngIf="user.alias">{{user.alias}}</span>
    <span class="mat-caption" mat-line>{{user.email}}</span>
    <mat-icon class="mat-18" color="primary" *ngIf="user.observer">search</mat-icon>
    <mat-icon class="mat-18" color="primary" *ngIf="user.hasVoted && percentVoted != 100 && !user.observer">done</mat-icon>
    <mat-icon class="mat-18" color="warn" *ngIf="!user.hasVoted && percentVoted != 100 && !user.observer">close</mat-icon>
    <div *ngIf="percentVoted === 100 && !user.observer">
      <div *ngFor="let vote of votes">
        <span *ngIf="vote.uid === user.uid">{{vote.points}}</span>
      </div>
    </div>
  </mat-list-item>
</mat-list>
<div fxLayout="row">
  <span class="mat-subheading-2">Average Points: </span>
  <mat-icon class="mat-18 point-average" *ngIf="percentVoted !== 100">settings_ethernet</mat-icon>
  <span class="mat-subheading-2 point-average" *ngIf="percentVoted === 100">{{pointSum / voterCount}}</span>
  <span fxFlex></span>
  <span class="mat-subheading-2">Consensus: </span>
  <mat-icon class="mat-18 point-average" *ngIf="percentVoted !== 100">thumbs_up_down</mat-icon>
  <mat-icon class="mat-18 point-average" *ngIf="percentVoted === 100 && !consensus" color="warn">mood_bad</mat-icon>
  <mat-icon class="mat-18 point-average" *ngIf="percentVoted === 100 && consensus" color="primary">mood</mat-icon>
</div>
<div fxLayout="row" fxLayoutAlign="end">
  <button mat-raised-button color="accent" [disabled]="!consensus" (click)="saveAndClear()">Save and Clear</button>
</div>
