.container {
  padding: 16px;
}

.new-session-icon {
  font-size: 5vw;
  height: 5vw;
  width: 5vw;
}

.user-area, .landing-area {
  padding: 1.2em;
}

.new-room {
  border: 2px dashed rgba(55, 55, 55, 1);
  border-radius: 16px;
  height: 5em;
  cursor: pointer;
}
