.container {
  padding: 16px;
}

.new-session-icon {
  font-size: 5vw;
  height: 5vw;
  width: 5vw;
}

.user-area, .landing-area {
  padding: 1.2em;
}

.active-room-container {
  overflow-y: auto;
  padding: 0;
}

.room-container {
  overflow-y: auto;
}

.new-room {
  position: sticky;
  top: 0;
  z-index: 5;
}
