<div fxLayout="column" fxFill>
  <mat-toolbar fxLayout="row" fxLayoutAlign="space-between center" fxFlex="5" color="primary">
    <span>Kunz, Leigh & Associates</span>
    <span fxFlex></span>
    <app-login></app-login>
  </mat-toolbar>
  <app-landing *ngIf="user; else needToLogin" fxFlex="95"></app-landing>
  <ng-template #needToLogin>
    <div fxLayout="row" fxLayoutAlign="center center" fxFlex="95">
      <h3>Please log in to use this application.</h3>
    </div>
  </ng-template>
</div>
<router-outlet></router-outlet>
