.nav-title {
  margin-bottom: 0px;
}

.nav-info {
  margin-bottom: 0px;
  margin-right: 8px;
}

.nav-divider {
  margin-left: 8px;
  margin-right: 8px;
}

.logout {
  color: white;
}

.nav-bar {
  border-bottom: 1px solid rgb(200,200,200);
}


.theme-selector {
  width: 100px;
  margin-right: 16px;
}
